// === Font === //
$font-body: "Jost", sans-serif;

// === Font Weight === //
$font-weight: (
  normal: 500,
  medium: 600,
  bold: 700,
);

// == Breakpoints === //
$breakpoints: (
  mini: 380px,
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px,
);

// === Colors === //
$colors: (
  primary: #fe7544,
  txt-hover: #ff6f61,
  white: #fff,
  black: #111,
  txt-black: #333,
  txt-gray-dark: #525252,
  txt-gray: #cdcdcd,
  txt-gray-light: #767676,
  border-black: #333,
  border-gray: #e2e2e2,
  border-gray-light: #f1f1f1,
  bg-gray: #e9eaec,
  bg-gray-light: #f7f7f7,
  brand-html: #f2652a,
  brand-css: #379ad7,
  brand-js: #f1da4e,
  brand-scss: #be5f8b,
  brand-nodejs: #7cbe42,
);

// === z-index === //
$zindexs: (
  dropdown: 1000,
  sticky: 1020,
  fixed: 1030,
  modal-backdrop: 1040,
  modal: 1050,
  popover: 1060,
  tooltip: 1070,
);

// === Typography === //
$font-size-base: 0.875rem !default; // 14px
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$h-font-size: (
  h1: $font-size-base * 2.5,
  h2: $font-size-base * 2,
  h3: $font-size-base * 1.75,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base,
);
