// Mixins for build grid
$grid-columns: 12;
@mixin build-grid($size) {
  @for $i from 1 through $grid-columns {
    @if $size != "" {
      .col-#{$size}-#{$i} {
        width: percentage($i / $grid-columns);
      }
    } @else {
      .col-#{$i} {
        width: percentage($i / $grid-columns);
      }
    }
  }
}
// End mixins for build grid
$grid-gutter: 10px;
$container-width: 1190px;
.container {
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  margin: 0 auto;
  max-width: $container-width;
}
@include respond-below(wide) {
  .container {
    padding-left: calc($grid-gutter + 5px);
    padding-right: calc($grid-gutter + 5px);
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
  > [class*="col-"] {
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }
}

// Remove gutters (margin, padding) of row & col
.row-no-gutters {
  margin-left: 0;
  margin-right: 0;
  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Grid for all screen
 * Ex: col-1, col-2 */
@include build-grid("");

/* Grid for screen min-width: $largest
* Ex: col-largest-1, col-largest-2 */
@include respond-below(largest) {
  @include build-grid(largest);
}
/* Grid for screen min-width: $large
* Ex: col-large-1, col-large-2 */
@include respond-below(large) {
  @include build-grid(large);
}
/* Grid for screen min-width: $wide
* Ex: col-wide-1, col-wide-2 */
@include respond-below(wide) {
  @include build-grid(wide);
}
/* Grid for screen min-width: $medium
 * Ex: col-medium-1, col-medium-2 */
@include respond-below(medium) {
  @include build-grid(medium);
}
/* Grid for screen min-width: $small
* Ex: col-small-1, col-small-2 */
@include respond-below(small) {
  @include build-grid(small);
}
