.badges {
  position: absolute;
  top: -12px;
  display: inline-block;
  left: 113%;
  background-color: #ff6f61;
  color: #fff;
  font-size: 10px;
  padding: 2px 4px;
  z-index: 2;
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 79%;
    left: -3px;
    transform: rotate(-90deg);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    z-index: 1;
    border-top: 6px solid #ff6f61;
  }
}
