.filter-sub > .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
  border-right: unset;
  & > .ant-menu-submenu > .ant-menu-submenu-title {
    @include pxRem(padding-left, 0 !important);

    & .ant-checkbox-wrapper {
      font-family: "Jost";
      font-size: #{f-pxRem(17)};
      font-weight: 400;
      color: map-get($colors, txt-gray-dark);
    }
  }
  [aria-expanded="true"] {
    & .ant-checkbox-wrapper {
      color: map-get($colors, black) !important;
    }
  }
  .ant-checkbox.ant-checkbox-checked + span {
    color: map-get($colors, black);
  }
  .ant-menu-sub.ant-menu-inline {
    background-color: map-get($colors, white);
    & > .ant-menu-item.ant-menu-item-only-child {
      padding-left: #{f-pxRem(16)} !important;
      & .ant-menu-title-content > .ant-checkbox-wrapper {
        font-family: "Jost";
        font-size: #{f-pxRem(17)};
        font-weight: 400;
        color: map-get($colors, txt-gray-dark);
      }
    }
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: unset;
  }
  .ant-menu-item-selected {
    color: unset;
  }
  .ant-menu-inline .ant-menu-item-selected::after {
    opacity: 0;
  }
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: map-get($colors, black) !important;
  border-color: map-get($colors, black) !important;
}
.ant-menu-submenu-arrow::before,
.ant-menu-submenu-arrow::after {
  background-color: map-get($colors, black);
}
@include respond-below(small) {
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
  .ant-drawer-wrapper-body > .ant-drawer-body {
    @include pxRem(padding-left, 0);
    .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
      width: 100% !important;
    }
  }
  .ant-drawer.ant-drawer-right {
    .ant-drawer-wrapper-body > .ant-drawer-body {
      @include pxRem(padding-left, 24);
    }
  }
}
