.home {
  @include pxRem(margin-bottom, 110);
}
.home.home-up {
  margin-top: #{f-pxRem(90)};
}
//Section-Page-header
.page-title {
  font-size: #{f-pxRem(32)};
  padding-top: #{f-pxRem(40)};
  padding-bottom: #{f-pxRem(17)};
  text-align: center;
  line-height: 1.33;
  font-weight: 500;
  letter-spacing: 0.002em;
}
//Section page slider
.page-slider {
  margin: #{f-pxRem(60) 0 #{f-pxRem(83)}};
}
//Section page filter
.page-filter {
  margin-bottom: #{f-pxRem(43)};
}
//Section page product
.page-product {
  @include pxRem(margin-bottom, 25);
  & > .container {
    padding: 0;
  }
  & > .container > .row {
    @include pxRem(margin-left, -15);
    @include pxRem(margin-right, -15);
    > [class*="col-"] {
      @include pxRem(padding-left, 15);
      @include pxRem(padding-right, 15);
    }
  }
}
//Section page title sub
.page-title-sub {
  text-align: center;
  .title-sub-text {
    @include pxRem(font-size, 15);
    letter-spacing: 0.0025em;
    color: map-get($colors, txt-gray-light);
    font-weight: 400;
    @include pxRem(padding, 9 50);
    display: inline-block;
    border-bottom: 2px solid map-get($colors, black);
    line-height: 1.5;
  }
}
@include respond-below(wide) {
  .page-filter {
    flex-wrap: wrap;
  }
}
